.shopping__bag {
    display: none;
    width: 320px;
    height: 490px;
    background: #D7D7D7;
    position: fixed;
    z-index: 5;
    top: 68px;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &-title {
        font-family: 'Krona One', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #0D0D0E;
        padding: 20px 30px;
    }

    &-empty {
        display: none;
    }

    @media (max-width: 768px) {
        top: 80px;
        width: 100%;
    }
}

.shopping__bag {

    &--active {
        display: block;
    }
}

.shopping__bag-trashcan {
    background: none;
    border: none;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
}

.shopping__bag-card {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &--wrapper {
        height: 366px;
        overflow: auto;
    }
}

.closeBtn {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    &::before,
    &::after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 17px;
        width: 2px;
        background-color: #333;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}


.card__info--wrapper {
    display: flex;
    width: 65%;
}

.card__img--wrapper {
    width: 76px;
    height: 76px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card__text {
    margin: auto 10;
}

.card__title {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    //margin: auto 10;
}

.card__sizes {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9A998C;
}


.card__price,
.card__count-sum {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0D0D0E;

    &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 15px;
    }
}

.card__count {
    display: flex;
    margin: 0 auto;
    gap: 5px;
}

.shopping__bag-total {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #0D0D0E;
    padding: 20px 30px;
}

.card__count-plus,
.card__count-minus {
    border: none;
    border-radius: 50%;
    background: #9A998C;
    width: 25px;
    height: 25px;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        background-color: #E37A7A;
    }
}