// .section-swiper {
//     height: 540px;
//     @media (max-width: 768px) {
//     height: 570px;
//             } 
// }
.image-slider {
    &__image {
        img {
            width: 100%;
            object-fit: cover;
            height: 540px;

            @media (max-width: 1024px) {
                height: 400px;
            }

            @media (max-width: 768px) {
                height: 570px;
            }
        }
    }

    .swiper-pagination-bullet {
        position: relative;
        background-color: white;
        bottom: 40px;

        @media (max-width: 1024px) {
            bottom: 25px;
            --swiper-pagination-bullet-size: 6px;
        }

        @media (max-width: 768px) {
            bottom: 15px;
            --swiper-pagination-bullet-size: 4px;
        }
    }
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #EBE5DC;

    @media (max-width: 1024px) {
        --swiper-navigation-size: 33px;

    }

    @media (max-width: 768px) {
        --swiper-navigation-size: 22px;

    }
}