.swiper {
    width: 100%;

    .swiper {
        .swiper-slide {
            .img {
                width: 100%;
                height: auto;
                object-fit: cover
            }

        }

    }
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: rgb(191, 47, 138);
}