

.image-slider {
    padding: 20px 0;

    &__wrapper {

    }
    &__slide {

    }
    &__image {
        .swiper-photo {
            max-width: 100%;
        }  
        
    }
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: rgb(191, 47, 138);
}
