.image-slider {
    &__image {
            width: 100%;
            height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }  

    }
    
    .swiper-pagination-bullet {
        position: relative;
        background-color: white;
        bottom: 40px;
        @media (max-width: 1024px) {
            bottom: 25px;
            --swiper-pagination-bullet-size: 6px;
                }
        @media (max-width: 768px) {
    bottom: 15px;
    --swiper-pagination-bullet-size: 4px;

        }
		
	}


}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #EBE5DC;
    @media (max-width: 1024px) {
        --swiper-navigation-size: 33px;
    
            }
    @media (max-width: 768px) {
        --swiper-navigation-size: 22px;
    
            }
}

