* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	transition: all .3s ease-in-out;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}