* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	transition: all .3s ease-in-out;
}

html {
	scroll-behavior: smooth;
}

.dark-back {
	opacity: .8;
	width: 100vw;
	height: 100vh;
	background: #242424;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}