@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.trends {
  padding-top: 50px;
}
.trends__title {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #0D0D0E;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .trends__title {
    font-size: 32px;
  }
}
.trends__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .trends__item-wrapper {
    justify-content: center;
  }
}
.trends__item {
  width: 23.6752136752%;
}
@media (max-width: 1200px) {
  .trends__item {
    width: 31.5%;
  }
}
@media (max-width: 768px) {
  .trends__item {
    width: 90%;
  }
}
.trends__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__img-wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

.img-wrapper__button_review {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: block;
  width: 135px;
  background: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 3px;
  opacity: 0.8;
  font-family: "Font", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.img-wrapper__button_review:hover {
  color: #E37A7A;
  cursor: pointer;
}
@media (max-width: 768px) {
  .img-wrapper__button_review {
    padding: 10px;
  }
}

.img-wrapper__button_cart-add {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  color: #D9D9D9;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper__button_cart-add:hover {
  background-color: #E37A7A;
  cursor: pointer;
}

.img-wrapper__sale {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #E37A7A;
}

.item__price-wrapper {
  display: flex;
  margin: 15px 0 5px;
}

.item__price {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0D0D0E;
}

.item__price-before-sale {
  text-decoration: line-through;
  margin-left: 10px;
  color: #ada7a7;
}

.item__title {
  font-family: "Font", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #0D0D0E;
}

.swiper {
  width: 100%;
  height: 600px;
}
.swiper-wrapper {
  width: 100%;
  height: 600px;
}
.swiper-slide {
  width: 100%;
  height: 600px;
}

.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: rgb(191, 47, 138);
}/*# sourceMappingURL=style.css.map */